<h1>Pirate</h1>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>


<% @ships.each do |s| %>
  Name: <%= s.name %>
  Type: <%= s.type %>
  Booty: <%= s.booty %>
<% end >